$font-name: 'Roboto', sans-serif;

//font colors
$font-color: #3a3a3a;

//font sizes
$font-size: 16px;
$line-height: 1.5;

//site colors

$primary-color: #377abf;
$primary-color-2: #68a2df;
$primary-color-3: #88b2df;
$secondary-color: #ffb03a;

//gradients

$primary-gradient: linear-gradient(to bottom, $primary-color-2 0%,$primary-color-3 100%);

//transitions

$primary-transition: all .5s ease-in-out;